.ui.card.phoneCard {
	max-width: 200px;
}

.ui.card.phoneCard > .image > img {
	height: 200px;
}

.ui.cards > .card > .content, .ui.card > .content {
	display: flex;
	flex-direction: column;
}

.ui.cards > .card > .content > .description, .ui.card > .content > .description {
	margin-bottom: 12px;
}

.phoneCard__buttons-container {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}